.card {
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 1px 1px 20px rgb(168, 165, 165);
}

@media only screen and (min-width:200px) and (max-width:575px) {
  .header{
    gap: 2px;
  }
  .card{
    width: 90% !important;
    margin: auto !important;
  }

}

@media only screen and (min-width:576px) and (max-width:991px){
  .card{
    width: 30% !important;
    margin: auto !important;
  }
}